<% if @list.errors.present? %>
	<ul>
		<% @list.errors.each do |error, message| %>
			<li><%= "#{error.capitalize} #{message}" %></li>
		<% end %>
	</ul>
<% end %>


<div class="form container">
  <%= form_for @list do |f| %>
    <%= f.label :title, "Title" %>
    <%= f.text_field :title %>

    <%= f.label :date, "Date" %>
    <%= f.text_field :date %>

    <%= f.label :date, "Due Date" %>
    <%= f.text_field :due_date %>

    <%= f.label :description, "Description" %>
    <%= f.text_area :description %>

    <%= f.label :detail, "Detail" %>
    <%= f.text_area :detail %>

    <%= f.label :file_location, "File Location" %>
    <%= f.text_field :file_location %>

    <%= f.submit %>
  <% end %>
</div>