<style type="text/css">
	body{
		background: #EEFFBB;
	}
	.header{
		width: 100%;
		background: #272727;
		color: white;
		height: 65vh;
		margin-bottom: 10vh;
	}
	.title h1{
		color: white;
		padding-top: 20vh;
		text-align: center;
		font-size: 80px;
	}
	h3{
		font-size: 36px;
		text-align: center;
	}
	h6{
		text-align: right;
	}
	.ul{
		list-style: none;
	}
	.ul div{
		display: inline-block;
		padding:20px; 
		background: #DDDDDD;
		border-radius: 5px;
		width: 300px;
		margin: 15px;
		box-shadow: 0 1px 3px 1px black;
	}
	.ul div:hover{
		transform: scale(1.1,1.1);
	}
	.list{
		color: gray;
		font-size: 24px;
		line-height: 1.5em;
	}
	.list:hover{
		text-decoration: none;
		color:#333333;
	}
	.new_list{
		color: black;
		font-size: 18px;
		margin-left: 60px; 
	}
</style>

<div class="header">
	<div class="container">
		<div class="row title">
			<h1>Do List</h1>
		</div>
	</div>
</div>

<div class="container">
	<ul class="ul">
	  <%  @lists.each do |list| %>
	    <div>
	      <h3><%= list.title %></h3>
	      <h6> Due date: <%= list.due_date %></h6>
	      <li><%= link_to 'Show', list_path(list), class: "list" %></li>
	      <li><%= link_to 'Edit', edit_list_path(list), class: "list" %></li>
	<!--       if delete false -->
	      <% if list.due_date.to_s > Time.now.to_s %>
	      <li><%= link_to 'Delete', list_path(list),class: "list", method: :delete, data:{ confirm: "Are you sure?" }  %></li>
	      <% else %>
				<li><%= link_to 'Delete', list_path(list),class: "list", method: :delete, data:{ confirm: "It's over time, and you can't delete" , disabled: "disabled" }  %></li>
				<% end %>

	     </div>
	  <% end %>

	</ul>

	<%= link_to 'New List', new_list_path, class: "new_list btn btn-default" %>
</div>

<%= render :partial => "footer" %>