<style type="text/css">
	.show{
		margin: 0 auto;
		width: 80%;
	}
	.show h1{
		text-align: center;
	}
	.date{
		text-align: left;
	}
	.date p{
		display: inline-block;
		padding: 3px 10px;
		font-size: 12px;
		line-height: 1.5em;
	}
	.desk{
		width: 60%;
		margin:10px auto;
	}
	.desk h2{
		font-size: 30px;
		line-height: 1.5em;
		color: #888888;
		text-align: center;
	}
	.desk h6{
		font-size: 20px;
		line-height: 1.5em;
	}
	.back{
		float: right;
	}
</style>

<div class="container">
	<div class="show">
		<h1><%= @list.title %></h1>
		<div class="date">
			<p>update: <%= @list.date %></p>
			<p>due date: <%= @list.due_date %></p>
		</div>
		<div> <%= image_tag @list.file_location.url, class: "thumbnail img" %></div>
		<div class="desk">
			<h2><%= simple_format(@list.description) %></h2>
			<h6><%= simple_format(@list.detail) %></h6>
		</div>
		<%= link_to 'Back to index', lists_path, class: "btn btn-default back" %>
	</div>
</div>