<style type="text/css">
	body{
		background: #EEFFBB;
	}
	.show{
		margin: 0 auto;
		width: 80%;
	}
	.show h1{
		text-align: center;
	}
/*	.date{
		text-align: left;
	}*/
	.date{
		display: inline-block;
		padding: 3px 10px;
		font-size: 12px;
		line-height: 1.5em;

	}
	.due_date{
		display: inline-block;
		float: right;
	}
	.image{
		width: 100%
	}
	.show .img{
		margin: 5px auto;
	}
	.desk{
		width: 60%;
		margin:10px auto;
	}
	.desk h2{
		font-size: 30px;
		line-height: 1.5em;
		color: #888888;
		text-align: center;
	}
	.desk h6{
		font-size: 20px;
		line-height: 1.5em;
	}
	.back{
		float: right;
	}
</style>
<%= render :partial => "header" %>
<div class="container">
	<div class="show">
		<h1><%= @list.title %></h1>
		<div>
		<div class="date">
			<p>update: <%= @list.date %></p>
		</div>
		<div class="due_date">
			<p >due date: <%= @list.due_date %></p>
		</div>
		</div>
		<div class="image"> <%= image_tag @list.file_location.url, class: "thumbnail img" %></div>
		<div class="desk">
			<h2><%= simple_format(@list.description) %></h2>
			<h6><%= simple_format(@list.detail) %></h6>
		</div>
		<h2>Track</h2>
		<% @list.tracks.each do |i| %>
			<strong>Track:</strong>
			<%= i.commenter %>
			<strong>Date</strong>
			<%= i.date %>
			<strong>comment:</strong>
			<%= i.body %>
			<%= link_to "delete" , [i.list, i], method: :destroy, data:{conform:"Are you sure? "} %>
			<br>
		<% end %>
		<h2>Add a track</h2>
		<%= form_for([@list, @list.tracks.build]) do |f| %>
		<p>
			<%= f.label :commenter %><br>
			<%= f.text_field :commenter %>
		</p>
		<p>
			<%= f.label :date %><br>
			<%= f.text_field :date %>
		</p>
		<p>
			<%= f.label :body %><br>
			<%= f.text_area :body %>
		</p>
		<p>
			<%= f.submit %>
		</p>
		<% end %>
		<%= link_to 'Back to index', lists_path, class: "btn btn-default back" %>
	</div>
</div>
<hr>

<%= render :partial => "footer" %>