<style type="text/css">
	body{
		background: #EEFFBB;
	}
	.show{
		margin: 0 auto;
		width: 80%;
	}
	.show h1{
		text-align: center;
	}
/*	.date{
		text-align: left;
	}*/
	.date{
		display: inline-block;
		padding: 3px 10px;
		font-size: 12px;
		line-height: 1.5em;

	}
	.due_date{
		display: inline-block;
		float: right;
	}
	.image{
		width: 100%
	}
	.show .img{
		margin: 5px auto;
	}
	.desk{
		width: 60%;
		margin:10px auto;
	}
	.desk h2{
		font-size: 30px;
		line-height: 1.5em;
		color: #888888;
		text-align: center;
	}
	.desk h6{
		font-size: 20px;
		line-height: 1.5em;
	}
	.back{
		float: right;
	}
</style>
<%= render :partial => "header" %>
<div class="container">
	<div class="show">
		<h1><%= @list.title %></h1>
		<div>
		<div class="date">
			<p>update: <%= @list.date %></p>
		</div>
		<div class="due_date">
			<p >due date: <%= @list.due_date %></p>
		</div>
		</div>

		<% if @list.file_location.url != nil %>
		<div class="image"> <%= image_tag @list.file_location.url, class: "thumbnail img" %></div>
		<% end %>


		<div class="desk">
			<h2><%= simple_format(@list.description) %></h2>
			<h6><%= simple_format(@list.detail) %></h6>
		</div>

	</div>





	<div class="track">		
	<div class="container">
		<div class="track row">
			<div class="col-lg-1">
			<h4>Progress</h4>
			</div>
			<% @list.tracks.each do |track| %>
				<div class="col-lg-2">
				<h4>
					<%= track.date %>
				</h4>
				</div>
				<div class="col-lg-2">
				<h4>
				<%= track.commenter %>
				</h4>
				</div>
				<div class="col-lg-4">
				<h4>
				<%= track.body %>
				</h4>
				</div>
				<div class="col-lg-3">
				
				<%= link_to "delete" , [@list, track], method: :delete, data:{ confirm: "Are you sure?" } , class: "btn btn-default" %>
				</p>
				</div>
		</div>
		<% end %>
		<h2>Add a track</h2>
		<div class="form-group row">
		<%= form_for([@list, @list.tracks.build]) do |f| %>
			<div class="col-lg-2">
			<%= f.text_field :commenter,class: 'form-control', placeholder: "commenter" %>
			</div>
			<div class="col-lg-2">
			<%= f.text_field :date, class: 'form-control',value: "#{Time.now.strftime('%Y-%m-%d')}", readonly: "readonly"%>
			</div>
			<div class="col-lg-6">
			<%= f.text_field :body,class: 'form-control',placeholder: "content" %>
			</div>
			<%= f.submit class: "btn btn-default" %>
			</div>
		<% end %>
		<%= link_to 'Back to index', lists_path, class: "btn btn-default back" %>
	</div>
</div>







</div>
<hr>

<%= render :partial => "footer" %>